:root {
     /*bg colors*/
    --primary-bg-color:rgb(16, 16, 16);
    --bg-secondary-color:rgb(45, 45, 45);
    --bg-active-color:rgb(245, 245, 245);
    --bg-danger-color:rgb(116, 56, 112);
    --bg-success-color:rgb(87, 192, 196);


    /*text colors*/
    --text-primary-color:rgb(255, 255, 255);
    --text-secondary-color:rgb(245, 245, 245);
    --text-tertary-color:rgb(146, 146, 146);
    --text-active-color:rgb(24,24,24);


    /*padding*/

    --padding-sm: 0.5rem;
    --padding-md:1rem;
    --padding-lg:1.5rem;
    --padding-xl:2rem;
    --padding-2xl:3rem;


    /*margin*/
    --margin-sm:0.5rem;
    --margin-md:1rem;
    --margin-lg:1.5rem;
    --margin-xl:2rem;
    --margin-2xl:3rem;



     /*gutter*/ /*jhn pr display flex ya margin waghera krni ho 
     ya grid waghera jo elemt k beech m distance hoga */


    --gutter-sm:0.5rem;
    --gutter-md:1rem;
    --gutter-lg:1.5rem;
    --gutter-xl:2rem;
    --gutter-2xl:3rem;

    /*font sizes*/
    --font-size-sm:0.875rem;
    --font-size-md:1rem;
    --font-size-lg:1.25rem;
    --font-size-xl:1.5rem;
    --font-size-2xl:2rem;
    

    /*border radius*/
    --border-radius-sm:0.2rem;
    --border-radius-md:.25rem;
    --border-radius-lg:0.3rem;
    --border-radius-xl:0.4;
    --border-radius-2xl:0.5rem;




} 